<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722230291350-1dmfbqeqcom6dudkj8sfkt3gjsug5i4h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722230291350-1dmfbqeqcom6dudkj8sfkt3gjsug5i4h</string>
	<key>API_KEY</key>
	<string>AIzaSyBennD-ZtQYbVOQVHvUQtUjvJs2A87TNG8</string>
	<key>GCM_SENDER_ID</key>
	<string>722230291350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tauqeer.modifiedFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>modifiedflutterapplication</string>
	<key>STORAGE_BUCKET</key>
	<string>modifiedflutterapplication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722230291350:ios:442e885366aa9ec3094bb7</string>
	<key>DATABASE_URL</key>
	<string>https://modifiedflutterapplication.firebaseio.com</string>
</dict>
</plist>